.row {
  display: flex;
  justify-content: center;
}
h1 {
  color: black;
  text-align: center;
}

p {
  color: black;
  font-size: 18px;
  line-height: 1.8;
}

body {
  background: linear-gradient(to bottom, #FFFFFF, #000000);
  margin: 0;
  padding: 25px;
}
